@page
@model PizzaGrande.Pages.Pizzas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <h4>Пици</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.PizzaName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.PizzaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.ShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.LongDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.LongDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.Price)
        </dd>
        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Pizza.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.ImageUrl)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pizza.PizzaId">Редактирай</a> |
    <a asp-page="./Index">Върни се в листа</a>
</div>
