@page
@model PizzaGrande.Pages.Drinks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтрий</h1>

<h3>Сигурни ли сте, че искате да изтриете това?</h3>
<div>
    <h4>Drink</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drink.DrinkName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drink.DrinkName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drink.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drink.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drink.LongDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drink.LongDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drink.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drink.ImageUrl)
        </dd>

    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Drink.DrinkId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Върни се в листа</a>
    </form>
</div>
