@page
@model PizzaGrande.Pages.Drinks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли</h1>

<div>
    <h4>Напитки</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drink.DrinkName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drink.DrinkName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drink.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drink.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drink.LongDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drink.LongDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drink.ImageUrl)
        </dt>
        <dd class="col-sm-10">

           <img src=" @Html.DisplayFor(model => model.Drink.ImageUrl)" >
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Drink.DrinkId">Редактирай</a> |
    <a asp-page="./Index">Върни се в листа</a>
</div>
